
<div class="container">
  <br><br>
<p id="notice"><%= notice %></p>

<br><br><br>
<div class="title1"><br>"Flavor is everything!"</div>
<hr class="style-two">
<br><br>
<br><br>

<div class="title left">Menu:</div><div class="right"><%= link_to 'New Pizza', new_pizza_path, :class => 'btn btn-primary newpizza' %></div><br><br>


<div class="row">

    <% @pizzas.each do |pizza| %>
    <div class=" col-xs-12 col-md-6 col-lg-4">
      <div class="panel panel-default pizza">
        <div class="panel-heading">
         <%= pizza.name %><br>
        </div>
        <div class="panel-body">
          <b>Doe kind:</b><%=  "  "+ DoeKind.find(pizza.doe_kind_id).name %><br>
          <b>Toppings:</b><% pizza.toppings.limit(3).each do |topping| %>
                 <%= topping.name %>
              <% end %>
          <br><br>
       
              <%= image_tag pizza.images.order('image_relationships.position ASC').first.picture.url if image_tag pizza.images.order('image_relationships.position ASC').first.picture? %>
              <br>
         
         <br><br>
          <%= link_to 'Show', pizza, :class => 'btn btn-default btn-xs' %>
          <%= link_to 'Edit', edit_pizza_path(pizza), :class => 'btn btn-default btn-xs' %>
          <%= link_to 'Destroy', pizza, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-danger' %>
          <br><br>
        </div>
      </div>
      </div>
    <% end %>

</div>