<div class="jumbotron">
<div class="container">
<p id="notice"><%= notice %></p>


<h1>List of Pizzas:</h1><%= link_to 'New Pizza', new_pizza_path, :class => 'btn btn-primary' %><br><br>


<div id="pizzas" class="transitions-enabled">
 
    <% @pizzas.each do |pizza| %>
    <ul class="pizzas">
      <li>
    <div class="box panel panel-default padd">
       <h2>Name:<%= pizza.name %></h2><br>
        Doe kind:<%= DoeKind.find(pizza.doe_kind_id).name %><br>
        Toppings:<% pizza.toppings.limit(3).each do |topping| %>
               <%= topping.name %>
            <% end %>
        <br><br>
         <% pizza.images.limit(1).each do |image| %>
            <%= image_tag image.picture.url if image.picture? %>
            <br>
         <% end %>
       <br><br>
        <%= link_to 'Show', pizza, :class => 'btn btn-default btn-xs' %>
        <%= link_to 'Edit', edit_pizza_path(pizza), :class => 'btn btn-default btn-xs' %>
        <%= link_to 'Destroy', pizza, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-danger' %>
        <br><br>
      </div>
      </li>
    <% end %>

</div></div>