<div class="container">
  <div class="jumbotron">
<p id="notice"><%= notice %></p>

<h3>
  <strong>Name:</strong>
  <%= @pizza.name %>
</h3>
<hr>

<p>
  <strong>Doe kind:</strong>
  <%= DoeKind.find(@pizza.doe_kind_id).name %>
</p>

<p>
  <strong>Toppings:</strong>
  <% @toppings.each do |topping| %>
  &nbsp<%= topping.name %>
<% end %>
</p>
<br>
 <p><strong>Pictures:</strong></p>
   <ul id="sortable" style="cursor: move">
 <% @images.each do |image| %>
     <li id="<%= image.image_relationships.first.id %>"> <%= image_tag image.picture.url if image.picture? %>
    <%= link_to '', image, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'glyphicon glyphicon-remove'  %>
    </li>
 <% end %>
 </ul>
<br>

  
<br>
<%= link_to 'Edit', edit_pizza_path(@pizza) %> |
<%= link_to 'Back', pizzas_path %>
</div>
</div>

<script>
  $(function() {
    $( "#sortable" ).sortable({
       axis: 'y',
      update: function(event,ui){
        
      
        
        $.ajax({
        method: "GET",
        url: "/sort",
        data: {  new_position: ui.item.index(), id: ui.item.attr("id")}
        })
        
        
        
        
        
      }
      
    }
      
    );
    $( "#sortable" ).disableSelection();
  });
  </script>
