<%= form_for(@doe_kind) do |f| %>
  <% if @doe_kind.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doe_kind.errors.count, "error") %> prohibited this doe_kind from being saved:</h2>

      <ul>
      <% @doe_kind.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
